@import '../Utilities/colors.css';

* {
    font-family: 'General Sans';
}

.top-row {
    padding: 4% 2% 1% 2%;
}

.top-row h4{
    width: fit-content;
}

.top-row:nth-child(2){
    display: flex;
    justify-content: end;
}

.second-row {
    display: flex;
    justify-content: end;
}

.second-row button {
    width: auto;
    margin-right: 2%;
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    color: var(--dark);
    font-family: 'Migra';
}

.customer-main-content > * {
    margin-top: 5%;
}

.customer-title {
    padding: 5%;
}

.product-title > h2 {
    width: fit-content;
}

